.jumbotron {
	background-color: lightblue;
	color: black;
	margin-top: 50px;
	position:relative;
}

.breadcrumb {
	margin-top:25px;
}

.footer {
	padding: 10px 10px 0 10px;
	background-color: lightblue;
	margin-top: 10px;
}

.card-curso {
	flex: 1 200px;
	margin-top: 10px;
	max-width: 240px;
}

.btn-reserve {
	width:100%;
	border-radius: 0px;
}

.informacion {
	flex: 1 200px;
	padding: 2px 3px 2px 3px;
}

.footer-address-icon {
	padding-right: 8px;
}

.title-container {
	position:relative;
}

.overlay-text {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: black;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}


.tab-content {
	padding-top: 10px;
}