.jumbotron {
  background-color: #54ade8;
  color: black;
  margin-top: 50px;
  margin-bottom: 10px;
  position: relative; }

.breadcrumb {
  margin-top: 25px;
  margin-bottom: 10px; }

.footer {
  padding: 10px 10px 0px 10px;
  background-color: #54ade8;
  margin-top: 10px;
  margin-bottom: 0px; }

.card-curso {
  flex: 1 200px;
  margin-top: 10px;
  max-width: 240px; }

.btn-reserve {
  width: 100%;
  border-radius: 0px; }

.informacion {
  flex: 1 200px;
  padding: 2px 3px 2px 3px; }

.footer-address-icon {
  padding: 0px 8px 0px 0px; }

.title-container {
  position: relative; }

.overlay-text {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: black;
  color: white;
  padding: 0px 20px 0px 20px; }

.tab-content {
  padding: 10px 0px 0px 0px; }
