$yellow: #f0ec07;
$lightblue: #54ade8;
$red: #fa4b3e;
$green: #84fa64;

@mixin margenes($top, $bottom){
	margin-top: $top;
	margin-bottom: $bottom;
}

@mixin color($color){
	color: $color;
}

@mixin bgColor($color){
	background-color:$color;
}

@mixin padding($top, $right, $bottom, $left){
	padding: $top $right $bottom $left;
}

.jumbotron {
	@include bgColor($lightblue);
	@include color(black);
	@include margenes(50px, 10px);
	position:relative;
}

.breadcrumb {
	@include margenes(25px, 10px);
}

.footer {
	@include padding(10px, 10px, 0px, 10px);
	@include bgColor($lightblue);
	@include margenes(10px,0px);
}

.card-curso {
	flex: 1 200px;
	margin-top: 10px;
	max-width: 240px;
}

.btn-reserve {
	width:100%;
	border-radius: 0px;
}

.informacion {
	flex: 1 200px;
	@include padding(2px, 3px, 2px, 3px);
}

.footer-address-icon {
	@include padding(0px, 8px, 0px, 0px);
}

.title-container {
	position:relative;
}

.overlay-text {
  position: absolute;
  bottom: 20px;
  right: 20px;
  @include bgColor(black);
  @include color(white);
  @include padding(0px, 20px, 0px, 20px);
}


.tab-content {
	@include padding(10px, 0px, 0px, 0px);
}